html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: center / cover
    url('./mydino-https-::unsplash.com:@valencyjna.jpeg');
  color: hsl(0, 0%, 6%);
  font-family: Arial, Helvetica, sans-serif;
}
